.back{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    opacity: 60%;
}

.back:hover {
    opacity: 100%;
    transition: all 1s;
}

.back img{
    width: 160px;
    height: 160px;
}